<!-- <div class="table-responsive"> -->
  <div class="card">
     <div class="card-header">Teams</div>
      <table class="table table-bordered table-striped table-responsive-lg index-table" id="team-table" cellspacing="0" width="100%">
  <thead>
    <tr>
      <th scope="col">City</th>
      <th scope="col">Nickname</th>
      <th scope="col">Colors</th>
      <th scope="col">E-mail</th>
      <th scope="col">Logo</th>
      <th scope="col">Total Players</th>
    </tr>
  </thead>
    <tbody>
<% @teams.each do | team | %>
    <tr>
      <td><%= team.city %></td>
      <td><%= link_to team.nickname, edit_team_path(:id => team.id) %></td>
      <td><%= team.colors %></td>
      <td><%= team.email %></td>
      <td><%= image_tag team.logo.url(:thumb) %></td>
      <td><%= team.players.count %></td>
    </tr>
<% end %>
  </tbody>
</table>
</div>
<!-- </div> -->

