    <div class="container">
  <div class="table-responsive">
  <div class="card">
     <div class="card-header">Team Profile</div>
<table class="table">
  <tbody>
    <tr>
      <th scope="row">Nickname</th>
      <td><%= link_to @team.nickname, edit_team_path(:id => @team.id) %></td>
    </tr>
    <tr>
      <th scope="row">City</th>
      <td><%= @team.city %></td>
    </tr>
    <tr>
      <th scope="row">Colors</th>
      <td><%= @team.colors %></td>
    </tr>
    <tr>
      <th scope="row">Email</th>
      <td><%= @team.email %></td>
    </tr>
    <tr>
      <th scope="row">Logo</th>
      <td><%= image_tag @team.logo.url(:thumb) %></td>
    </tr>
  </tbody>
</table>
</div>
</div>
</div>

