
<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="field form-group">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, :class => "form-control" %>
  </div>

  <div class="field form-group">
    <%= f.label :password %><br />
    <%= f.password_field :password, autocomplete: "off", :class => "form-control" %>
  </div>

  <% if devise_mapping.rememberable? -%>
    <div class="field form-check form-check-inline">
      <%= f.check_box :remember_me, :class => "form-check-input", :id => "remember-check" %>
      <%= f.label :remember_me, :class => "form-check-label", :for => "remember-check" %>
    </div>
  <% end -%>

  <div class="actions form-group text-center">
    <%= f.submit yield(:button_text), :class => "btn btn-primary" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>

