  <%= form_for @player do |f| %>
    <%= render 'shared/error_messages' %>
    <div class="form-row md-form">
      <div class="form-group col-md-6 md-form" >
        <%= f.label :first_name, "First name" %>
        <%= f.text_field :first_name, :class => "form-control" %>
      </div>
      <div class="form-group col-md-6 md-form" >
        <%= f.label :last_name, "Last name" %>
        <%= f.text_field :last_name, :class => "form-control" %>
      </div>
    </div>
    <div class="form-row md-form">
      <div class="form-group col-md-6">
      <%= f.label :number, "Number" %>
      <%= f.text_field :number, :class => "form-control" %>
      </div>
      <div class="form-group col-md-6 md-form">
        <%= f.label :team, "Team" %>
        <%= f.select :team_id, Team.all.collect { |team| [team.nickname, team.id ] }, :class => "form-control" %>
      </div>
    </div>
    <div class="form-group md-form">
          <%= f.label "Positions" %>
    </div>
    <div class="form-row md-form">
      <%= f.collection_check_boxes(:position_ids, Position.all, :id, :name) do |position| %>
      <div class="form-group col-sm-4" >
       <%= position.label { position.check_box(class: "check_box") + position.text }%>
     </div>
      <% end %>
    </div>
    <div class="form-group text-center">
      <%= f.submit yield(:button_text), :class => "btn btn-primary" %>
             <hr class="hr-light mb-3 mt-4">
    </div>
  <% end %>